<!--Footer section-->
<footer>
  <section class="footer-section" id="sale">
    <div class="container">
      <div class="footer__contacts">
        <address>
          <div class="logo-footer">
            <img src="./images/logo.png" alt="Logo" />
          </div>
          <div class="footer-address">
            <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            <a
              href="https://www.google.com/search?q=678+S.+Pioneer+Road+Salt+Lake+City+UT+84104+maps&oq=678+S.+Pioneer+Road+Salt+Lake+City+UT+84104+maps&gs_lcrp=EgZjaHJvbWUyBggAEEUYOdIBCDM4MzVqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8"
              >1678 S. Pioneer Road <br />
              Salt Lake City <br />
              UT 84104</a
            >
          </div>
        </address>
        <div class="footer__nav-bar">
          <a href="#about-us">About Us</a>
          <a href="#catalog">Catalog</a>
          <a href="#sale">Sale</a>
        </div>

        <div class="footer-icons">
        
          <a href="http://www.facebook.com/" target="_blank">  <div>  <svg>
            <use href="./images/icons.svg#icon-facebook" />
          </svg>  </div></a>
        
         
            <a href="http://www.instagram.com/" target="_blank"> <div><svg>
              <use href="./images/icons.svg#icon-instagram" />
            </svg></div></a>
      
          
           <a href="http://www.youtube.com/" target="_blank"><div><svg>
            <use href="./images/icons.svg#icon-youtube" />
          </svg> </div></a>
         
        </div>
      </div>
      <div class="footer-icon">
        
          <a href="http://www.facebook.com/" target="_blank"><div>
            <svg>
            <use href="./images/icons.svg#icon-facebook" />
          </svg></div></a>
        
        
          <a href="http://www.instagram.com/" target="_blank"
            ><div><svg>
              <use href="./images/icons.svg#icon-instagram" />
              </svg> </div>
            </a>
       
        
          <a href="http://www.youtube.com/" target="_blank">
            <div>
            <svg>
              <use href="./images/icons.svg#icon-youtube" />
            </svg> </div>
          </a>
       
      </div>
      <div class="copy-right-section">
        <p>&copy;2022 The Watch Spot. All rights reserved.</p>
        <div class="term-of-use__section">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
        </div>
      </div>
    </div>
  </section>
</footer>
