<!--Green and bronze section-->

<article class="header" id="en">
    <section class="new-watches-section" id="new-watches">
        <div class="container"> 
            <div class="new-watches-text">
                <h5 class="pre-title">New watches</h5>
                <h2 class="title">Green And Bronze-The <br>Match Made In Heaven</br></h2>              
            </div>
            <div class="new-watches-photos">
                <img 
                srcset="./images/1st-new-watch-x2.jpg 1x,./images/1st-new-watch-x1.jpg 2x"
                src="./images/1st-new-watch-x2.jpg" 
                alt="hand-wearing-watch-between-houseplant-leaves" 
                />
                
                <img 
                srcset="./images/2nd-new-watch-x2.jpg 1x,./images/2nd-new-watch-x1.jpg 2x"
                src="./images/2nd-new-watch-x2.jpg" 
                alt="silver-watch" 
                />
            </div>
        </div>
    
    </section>
     
</article>