<article>
  <section class="sale-section" id="sale">
    <div class="container">
      <div class="sale-text">
        <h3>Sale</h3>
      </div>
      <div class="about-sale">
        <div class="about-sale__img">
          <ul class="about-sale__items">
            <li><img src="./images/sale-img-1.jpg" alt="sale watch" /></li>
            <li><img src="./images/sale-img-2.jpg" alt="sale watch" /></li>
            <li><img src="./images/sale-img-3.jpg" alt="sale watch" /></li>
            <li><img src="./images/sale-img-4.jpg" alt="sale watch" /></li>
          </ul>
          <div class="about-sale__item">
            <img src="./images/sale-img-5.jpg" alt="sale watch" />
          </div>
        </div>
        <div class="about-sale__texts">
          <div class="about-sale__text-1">
            <h2>Greenlane Watch By Police For MenHT</h2>
            <p>Product tag: PEWJK2227003</p>
            <div class="sale-prices">
              <h5>$700</h5>
              <h6>$1000</h6>
            </div>
          </div>
          <div class="about-sale__text-2">
            <div class="sale-description">
              <h5>Description</h5>
            </div>
            <div class="sale-description__text">
              <p>
                Richly detailed with an understated design - the Police Men's
                Greenlane watch features a versatile multifunction design that
                fits effortlessly into work and play. The steel case is adorned
                with a semi-transparent black dial. The timepiece exhibits a
                contrast through a black IP bracelet with matching crown and
                pushers.
              </p>
            </div>
          </div>
          <div class="about-sale__text-3">
            <div class="sale-details">
              <h5>DETAILS & FEATURESTION</h5>
            </div>
            <ul class="sale-details__texts">
              <li>Gender: man</li>
              <li>Size: 46x54.5mm</li>
              <li>Case Colour: Steel</li>
              <li>Band Material: Metal</li>
              <li>Case Material: Metal</li>
              <li>Features: Multifunction</li>
              <li>Water Resistant: 5 (ATM)</li>
              <li>Band Colour: Steel</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
