@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');
.catalog-section {
  width: 1440px;
  margin: 0 auto;
  max-width: 100%;
  padding: 80px 0;
}
.catalog_1 {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.common-title {
  font-family: var(--font-epilogue);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 44px;
  color: var(--dark-green-color);
  margin-bottom: 64px;
}
.row_watches {
  list-style: none;
  display: flex;
  gap: 24px;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: 64px;
}

.norow_watches {
  list-style: none;
  display: flex;
  gap: 24px;
  padding-left: 0px;
  justify-content: center;
}
.details_watch {
  width: 254px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--font-epilogue);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.watch_price {
  font-family: var(--font-epilogue);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.button_catalog {
  display: flex;
  justify-content: flex-end;
  margin-right: 130px;
  margin-top: 80px;
}
.buy_button {
  border-radius: 8px;
  background-color: var(--dark-green-color);
  color: var(--white-color);
  font-size: 12px;
  line-height: 14px;
  font-family: var(--font-epilogue);
  width: 122px;
  height: 50px;
  outline: none;
  border: none;
}
.buy_button:hover,
.buy_button:focus {
  border: 1px solid var(--white-color);
}
.overlay_image {
  position: relative;
  overflow: hidden;
  height: 325px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 5px;
  transform: translateY(105%);
  background-color: var(--dark-green-color);
  transition-duration: 500ms;
  /*display: flex;
  flex-direction: column; */
  border-radius: 8px;
}
.row_row:hover .overlay {
  transform: translateY(0);
}
.row_row:hover {
  color: var(--dark-green-color);
}
.overlay_p {
  font-size: 14px;
  font-family: var(--font-epilogue);
  letter-spacing: -0.01em;
  line-height: 18px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
  padding-left: 20px;
}
.h_overlay {
  font-family: var(--font-epilogue);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--white-color);
  font-weight: 400;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}
/* Modal content */
.is-hidden {
  visibility: hidden;
}
.is-hidden [data-modal-content] {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-img {
  width: 276px;
  max-width: 100%;
  padding-top: 50px;
}
[data-modal-content] {
  width: 824px;
  height: 614px;
  background-color: var(--white-color);
  position: relative;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 1s;
}
[data-modal] {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
[data-modal-close] {
  position: absolute;
  top: 30px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--white-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 400px;
}
.modal-form__position {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-color);
  position: relative;
  top: -350px;
  right: -350px;
  font-family: var(--font-epilogue);
}
.modal-form__input {
  outline: none;
  margin-top: 12px;
  border-radius: 8px;
  height: 35px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  padding-left: 16px;
  font-family: var(--font-epilogue);
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 18px;
}
.modal-form__comments {
  outline: none;
  margin-top: 4px;
  border-radius: 8px;
  border: 1px solid rgba(20, 20, 20, 0.5);
  padding-left: 16px;
  margin-top: 12px;
  height: 164px;
  font-family: var(--font-epilogue);
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 18px;
}
.modal-form__btn {
  width: 400px;
  height: 50px;
  background-color: var(--dark-green-color);
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white-color);
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  right: 55px;
  top: 510px;
}
.modal-form__btntext {
  font-family: var(--font-epilogue);
  color: rgba(20, 20, 20, 0.4);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  position: relative;
  top: -290px;
  right: -350px;
}
/* Media query phone */
@media screen and (max-width: 767px) {
  .catalog-section {
    width: 375px;
    max-width: 100%;
    margin: 0 auto;
  }

  .catalog_1 {
    width: 335px;
    max-width: 100%;
    margin: 0 auto;
  }
  .row_watches {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .norow_watches {
    display: none;
  }

  .common-title {
    font-size: 32px;
    line-height: 40px;
  }
  .overlay_p {
    padding-right: 30px;
    padding-left: 30px;
  }

  .h_overlay {
    padding-top: 10px;
    padding-left: 30px;
  }

  .modal-form__input:invalid {
    border-color: red;
  }

  [data-modal-content] {
    width: 335px;
    max-width: 100%;
    height: 100%;
  }

  .modal-form {
    width: 295px;
    max-width: 100%;
    position: absolute;
    left: -5px;
    top: 350px;
  }

  .modal-form__position {
    width: 295px;
    max-width: 100%;
    position: relative;
    left: 20px;
    top: 100px;
  }

  .modal-form__btn {
    width: 295px;
    max-width: 100%;
    left: 20px;
    top: 550px;
  }

  .modal-form__btntext {
    right: 0px;
    padding: 30px 20px;
    top: 140px;
  }
}
/* Media query tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .catalog-section {
    width: 768px;
    max-width: 100%;
  }
  .catalog_1 {
    width: 704px;
    max-width: 100%;
  }
  .row_watches {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .norow_watches {
    display: none;
  }

  .common-title {
    font-size: 40px;
    line-height: 44px;
  }

  .overlay {
    padding-left: 20px;
  }
  [data-modal-content] {
    width: 744px;
    max-width: 100%;
  }
  .modal-form {
    width: 664px;
    max-width: 100%;
  }
  .modal-form__position {
    left: 330px;
    width: 368px;
    max-width: 100%;
  }
  .modal-form__btn {
    width: 368px;
    max-width: 100%;
  }
  .modal-form__btntext {
    left: 330px;
    max-width: 100%;
    width: 368px;
  }
}
