@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');

.new-watches-section {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.pre-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: rgba(160, 133, 133, 0.4);
  padding-bottom: 8px;
  padding-top: 80px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--dark-green-color);
  padding-bottom: 80px;
}

.new-watches-photos {
  display: flex;
  gap: 24px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

.new-watches-photos img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }

  .pre-title {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
    padding-bottom: 8px;
    padding-top: 80px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
    color: var(black-color);
    padding-bottom: 40px;
  }

  .title br {
    display: none;
  }
  .new-watches-photos {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
  }

  .new-watches-photos img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .new-watches-section {
    margin: 0 auto;
  }

  .container {
    margin: 0 auto;
    padding: 0 20px;
  }

  .pre-title {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: rgba(20, 20, 20, 0.4);
    padding-bottom: 8px;
    padding-top: 128px;
  }

  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: var(--dark-green-color);
    padding-bottom: 40px;
  }

  .new-watches-photos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 0;
    padding-bottom: 80px;
  }

  .new-watches-photos img {
    display: block;
    max-width: 350px;
    height: auto;
  }
}
