/* sale section */
.sale-section {
  padding: 80px 0;
}
.sale-text h3 {
  font-family: Epilogue;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  margin-left: 30px;
}
.sale-section .container {
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.about-sale {
  display: flex;
  padding-left: 97px;
  margin-left: 97px;
}
.about-sale__img {
  display: flex;
  gap: 10px;
}
.about-sale__items {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  list-style: none;
  gap: 5px;
}
.about-sale__texts {
  margin-left: 40px;
  margin-top: -30px;
}

.sale-prices {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -30px;
}
.sale-prices h6 {
  text-decoration: line-through;
}
.about-sale__text-1 h2 {
  font-family: Epilogue;
  font-size: 38px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
}
.about-sale__text-1 p {
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141480;
  margin-top: -20px;
}
.sale-prices h5 {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}
.sale-prices h6 {
  font-family: Epilogue;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #14141480;
}
.about-sale__text-2 {
  border-bottom: 1px solid #141414;
  border-top: 1px solid #141414;
}
.sale-description h5 {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #141414;
}
.sale-description__text p {
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #14141480;
}
.sale-details h5 {
  font-family: Epilogue;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.sale-details__texts {
  list-style: none;
}
.sale-details__texts li {
  font-family: Epilogue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #14141480;
}
.sale-details__texts {
  margin-left: -40px;
}

@media screen and (max-width: 767px) {
  /* sale section */
  .sale-section {
    margin: 0 auto;
    padding: 40px 0;
  }
  .about-sale {
    flex-direction: column;
    padding-left: 0;
    margin-left: -40px;
  }

  .sale-text h3 {
    margin-left: 0;
  }

  .about-sale__items img {
    width: 100%;
    display: block;
  }
  .about-sale__item img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  /* sale section */
  .sale-section {
    margin: 0 auto;
    padding: 40px 0;
  }
  .about-sale {
    justify-content: center;
    padding-left: 30px;
    flex-direction: column;
    margin-left: 20px;
  }
}
